.loaderContainer {
    margin-top: 30rem;
}

.avatar {
    width: 10rem !important;
    flex: unset !important;
    margin: 1rem 1.6rem;
}

.message-target-channel-name {
    vertical-align: bottom;
    margin-left: 1rem;
}