/*empty event state starts here*/
.empty-state-div {
    margin-top: 6.6rem;
    text-align: center;
}

.empty-event-image {
    height: 30.5rem;
    width: 32rem;
    vertical-align: middle;
}

.empty-event-header {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: .5rem;
}

.empty-event-regular-text {
    opacity: 0.5;
    font-size: 1.4rem;
}

.new-event-button {
    margin-top: 3.2rem;
}

/*empty event state Ends here*/